<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <a href="/">
            <v-img
            alt="Vuetify Logo"
            class="shrink mr-2"
            contain
            src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
            transition="scale-transition"
            width="40"
            />

            <v-img
            alt="Vuetify Name"
            class="shrink mt-1 hidden-sm-and-down"
            contain
            min-width="100"
            src="https://cdn.vuetifyjs.com/images/logos/vuetify-name-dark.png"
            width="100"
            />
        </a>
      </div>

      <v-spacer></v-spacer>
        <form v-if="!status.user" method="POST" action="/api/login">
            <input name="email"/>
            <input name="password" type="password"/>
            <button type="submit">Login</button>
        </form>
        <div v-else>
            Logged as {{status.user}}
            <v-btn @click="logout()">Logout</v-btn>
      </div>
    </v-app-bar>

    <v-main>
      <router-view :user="status.user" ></router-view>
    </v-main>
  </v-app>
</template>

<script>
import Vue from 'vue'

export default {
  name: 'App',

  components: {
  },

  data: () => ({
    status: {user:undefined}
  }),
      methods: {
    fetch_status() {
       let self = this
       fetch('/api/status').then((response) => {
        return response.json().then((json) => {
            Vue.set(this, 'status', json)
            setTimeout(self.reload, 1000)
        })
        }).catch(function() {
            setTimeout(self.reload, 10000)
        });
    },
    logout() {
       fetch('/api/logout').then((response) => {
        return response.json().then((json) => {
        console.log(json)
        }).catch(function() {
            
        });
    });
   }

  },
    mounted: function() {
        setTimeout(this.reload, 1000)
        this.fetch_status()
  }
};
</script>

<style>
input{
    border: 1px solid black;
}
</style>
