<template>
  <div style="height:100%">
    <vl-map :load-tiles-while-animating="false" :load-tiles-while-interacting="false"
             data-projection="EPSG:4326" style="height: 100%">
      <vl-view :zoom.sync="zoom" :center.sync="center" :rotation.sync="rotation"></vl-view>

      
      <vl-layer-tile id="osm">
        <vl-source-osm></vl-source-osm>
      </vl-layer-tile>
      
       <vl-feature v-if="tracker_position" id="point" :properties="{prop: 'value', prop2: 'value'}">
          <vl-geom-point :coordinates="tracker_position"></vl-geom-point>
      </vl-feature>
      
      <vl-overlay id="overlay" :position="tracker_position">
      <template>
        <div v-if="tracker" class="overlay-content">
          {{tracker.date}}<br>
          {{tracker.temperature}}°C
        </div>
      </template>
    </vl-overlay>
      
    </vl-map>
    <div id="map-overlay" style="padding: 20px">
        <ul>
            <li v-for="trip in trips" :key="trip.id">    
            <router-link :to="{ path: '/trips/view/'+trip.id, params: { id: trip.id }}">{{trip.title}}</router-link>
            </li>
        </ul>
        <div v-if="is_logged()" >
            <router-link :to="{ path: '/trips/add'}">Add trip</router-link>
        </div>
    </div>
  </div>
</template>

<script>

import Vue from 'vue'

  export default {
    props: ['user'],
    data () {
      return { 
        zoom: 10,
        center: [0, 0],
        trips:[],
        tracker_position: undefined,
        tracker: undefined,
        rotation: 0,
      }
    },
    methods: {
    reload() {
        let self = this
       fetch('/api/position').then((response) => {
        return response.json().then((json) => {
            setTimeout(this.reload, 1*1000)
            this.tracker_position = [json["longitude"], json["latitude"]]
            this.center = this.tracker_position
            Vue.set(this, 'tracker', json)

        })
        }).catch(function() {
            setTimeout(self.reload, 10000)
        });
    },
    
    fetch_trips() {
       let self = this
       fetch('/api/trips').then((response) => {
        return response.json().then((json) => {
            Vue.set(this, 'trips', json)

        })
        }).catch(function() {
            setTimeout(self.reload, 10000)
        });
    },
    is_logged() {
        if(this.user === null ||  this.user === undefined) {
            return false;
        }
        return this.user.length > 0
    },
  },
    mounted: function() {
        setTimeout(this.reload, 1000)
        this.fetch_trips()
  }
  }
</script>

<style>

#map-overlay {
    position: absolute;
    bottom:0px;
    overflow-y: auto;
    color: white;
}

#map-overlay a{
    color: white;
}

.overlay-content {
    background-color:rgba(0,0,100,0.5);
    color: white;
}

</style>
