<template>
  <div style="height:100%">
       <form method="POST" action="/api/trips/add" enctype="multipart/form-data">
            Title: <input name="title"/><br/>
            <select name="mode">
                <option id="foot">foot</option>
                <option id="bike">bike</option>
                <option id="boat">boat</option>
            </select>
            Datestart: <input name="datestart" /><br/>
            Datestop: <input name="datestop" /><br/>
            <button type="submit" >Submit</button>
        </form>
  </div>
</template>

<script>

export default {
    props: ['user'],
    data () {
      return { 
        zoom: 10,
        center: [0, 0],
        trips:[],
        tracker_position: undefined,
        tracker: undefined,
        rotation: 0,
      }
    },
    methods: {
        is_logged() {
            if(this.user === null ||  this.user === undefined) {
                return false;
            }
            return this.user.length > 0
        },
    },
    mounted: function() {
  }
  }
</script>

<style>

#map-overlay {
    position: absolute;
    bottom:0px;
    overflow-y: auto;
    color: white;
}

#map-overlay a{
    color: white;
}

.overlay-content {
    background-color:rgba(0,0,100,0.5);
    color: white;
}

</style>
