<template>
  <div style="height:100%">
    <vl-map ref="map" :load-tiles-while-animating="false" :load-tiles-while-interacting="false"
             data-projection="EPSG:4326" style="height: 100%" @pointermove="mousemove" @click="click">
      <vl-view :zoom.sync="zoom" :center.sync="center" :rotation.sync="rotation"></vl-view>

      
      <vl-layer-tile id="osm">
        <vl-source-osm></vl-source-osm>
      </vl-layer-tile>
      
      <vl-feature v-for="p in get_record_raw()" :key="get_raw_name(p)" :properties="p" :id="get_raw_name(p)">
        <vl-geom-point :coordinates="[p.longitude,p.latitude]"/>
        <vl-style>
            <vl-style-circle radius="3">
            <vl-style-fill color="rgba(35,245,245,0.8)"></vl-style-fill>
            <vl-style-stroke color="#666666" :width="1"></vl-style-stroke>
        </vl-style-circle>
                  <!--                              <vl-style-icon src="/Scripts/VueLayers/dot.png"
                                               cross-origin="anonymous"
                                               color="red"></vl-style-icon>-->
            </vl-style>
      </vl-feature>  

      
        <vl-feature v-for="m in get_medias()" :key="get_media_name(m)" :properties="m" :id="get_media_name(m)">
        <vl-geom-point :coordinates="[m.longitude,m.latitude]"/>
            <vl-style>
                <vl-style-circle radius="10"></vl-style-circle>
                <vl-style-fill color="rgba(255,245,245,0.8)"></vl-style-fill>
                <vl-style-stroke color="#666666" :width="1"></vl-style-stroke>
            </vl-style>
      </vl-feature>  
      
        <vl-feature v-if="records.length > 0" id="line-string">
          <vl-geom-line-string :coordinates="records"></vl-geom-line-string>
            <vl-style-box>
                <vl-style-stroke color="red" :width="2"></vl-style-stroke>
            </vl-style-box>
      </vl-feature>
      
    </vl-map>
    <div id="map-overlay" style="padding: 20px">
        <h2>{{trip.title}} <span v-if="is_live()" style="color:red">(Live)</span></h2> <b>{{distance()}}km</b> {{duration()}}h
        <ul>
            <li v-for="m in get_displayed_medias()" :key="get_displayed_media_name(m)" class="image-preview">
                <div v-if="is_logged()" >
                    <v-btn @click="delete_media(m)">Delete</v-btn>
                    <v-btn @click="set_position_media(m)">Position</v-btn>
                </div>
                <span>{{m.title}}</span>
                <img :src="get_media_path(m)" />
                <div>{{m.description}}</div>
            </li>
        </ul>
            <div v-if="is_logged()" >
                {{mode}} <v-btn @click="toggle_mode()">Toggle</v-btn>
                <v-btn @click="end_trip()">Finish</v-btn>
                
                <form>
                    <input ref="title" type="text">
                    <textarea ref="description"></textarea>
                    <div>
                        <label>Select file to upload</label>
                        <input ref="upload" type="file">
                    </div>
                    <button @click="upload()">Convert</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>

import Vue from 'vue'

  export default {
    props: ['id', 'user'],
    data () {
      return { 
        zoom: 10,
        center: [0, 0],
        trip:{
            title: ""
        },
        records: [],
        records_raw: [],
        rotation: 0,
        displayed_medias : [],
        mode:'view',
        update: true,
        mediaposition : undefined
      }
    },
    methods: {
    
    get_raw_name(feature) {
        return "RAW_" + feature.id
    },
    get_record_raw() {
        if (this.trip.records_raw !== undefined) {
            return this.trip.records_raw
        }
        return []
    },
    get_medias() {
        if (this.trip.medias !== undefined) {
            return this.trip.medias
        }
        return []
    },
    get_media_name(feature) {
        return "MEDIA_" + feature.id
    },
    get_displayed_medias() {
        return this.displayed_medias
    },
    get_displayed_media_name(m) {
        return 'DISPLAYEDMEDIA_'+m.id
    },
    get_media_path(m) {
        return '/api/medias/preview/'+m.id
    },
    fetch_trip() {
       fetch('/api/trips/view/'+this.id).then((response) => {
        return response.json().then((json) => {
            Vue.set(this, 'trip', json)
            this.records = []
            this.records_raw = []
            for(let i in json.records) {
                this.records.push([json.records[i][0], json.records[i][1] ])
            }
            for(let i in json.records_raw) {
                this.records_raw.push([json.records_raw[i].longitude, json.records_raw[i].latitude ])
            }
            if(this.center[0] == 0 && this.center[1] == 0) {
                this.center = this.records[0]
            }
            
            if(this.is_live()) {
                setTimeout(this.fetch_trip, 10000)
            }
        })
        }).catch(function() {
        });
    },
    is_live() {
        return this.trip.datestop == 'None'
    },
    hover_feature(f) {
        let id = f.id_
        if(id.includes('MEDIA')) {
            this.display_media(f.getProperties())
        }
    },
    click_feature(f) {
        let id = f.id_
        if(this.mode == 'edit') {
            if(id.includes('RAW')) {
                this.remove_raw(f.getProperties().id)
            }
        }
    },
    remove_raw(id) {
        console.log("removing "+id)
        this.trip.records_raw = this.trip.records_raw.filter(item => item.id !== id)
        fetch('/api/records/delete/'+id).then((response) => {
        return response.json().then((json) => {
            console.log(json)
            this.fetch_trip()
        })
        }).catch(function() {
        });
        
    },
    display_media(m) {
        this.displayed_medias.push(m)
    },
    click(e) {
        if(this.mediaposition != undefined) {
            this.set_position_media_coord(this.mediaposition, e.coordinate[1], e.coordinate[0])
            this.mediaposition = undefined
            return
        }
    
        this.update = true
        this.displayed_medias = []
        let self = this
        function cb(f) {
            self.update = false;
            self.click_feature(f)
        }
        this.$refs.map.forEachFeatureAtPixel(e.pixel, cb)
    },
    mousemove(e) {
        if(! this.update) {
            return
        }
        this.displayed_medias = []
        this.$refs.map.forEachFeatureAtPixel(e.pixel, this.hover_feature)
    },
    distance() {
        return Math.floor(this.trip.distance/1000.)
    },
    duration() {
        return Math.floor(this.trip.duration/(60*60))
    },
    is_logged() {
        if(this.user === null ||  this.user === undefined) {
            return false;
        }
        return this.user.length > 0
    },
    toggle_mode() {
        if(this.mode == 'view') {
            this.mode = 'edit'
        } else {
            this.mode = 'view'
        }
    },
    upload() {
        console.log(this.$refs.upload)
        let file = this.$refs.upload.files[0]
        
        let formData = new FormData();
        formData.append('file', file);
        formData.append('title', this.$refs.title.value);
        formData.append('description', this.$refs.description.value);
        formData.append('tripid', this.id);
        
        fetch('http://localhost:8081/api/medias/upload', { // Your POST endpoint
            method: 'POST',
            headers: {
            },
            body: formData // This is your file object
        }).then(
            response => response.json() // if the response is a JSON object
        ).then(
            success => console.log(success) // Handle the success response object
        ).catch(
            error => console.log(error) // Handle the error response object
        );
    },
    delete_media(m) {
        let id = m.id
        this.trip.medias = this.trip.medias.filter(item => item.id !== id)
        fetch('/api/medias/delete/'+id).then((response) => {
        return response.json().then((json) => {
            console.log(json)
            this.fetch_trip()
        })
        }).catch(function() {
        });
    },
    set_position_media(m) {
        this.mediaposition = m
    },
    set_position_media_coord(m, lat, lon){
        fetch('/api/medias/update/'+m.id+'?latitude='+lat+'&longitude='+lon).then((response) => {
        return response.json().then((json) => {
            console.log(json)
            this.fetch_trip()
        })
        }).catch(function() {
        });
    },
    end_trip() {
        fetch('/api/trips/finish/'+this.id).then((response) => {
        return response.json().then((json) => {
            console.log(json)
            this.fetch_trip()
        })
        }).catch(function() {
        });
    }
  },
    mounted: function() {
        this.fetch_trip()
  }
  }
</script>

<style>

#map-overlay {
    position: absolute;
    bottom:0px;
    right:0px;
    height:100%;
    background-color:rgba(0,0,0, 0.5);
    color: white;
    width: 25%;
}

.overlay-content {
    background-color:rgba(0,0,100,0.5);
    color: white;
}

.image-preview img {
    width:100%;
}

</style>
